# direnv allow .
PATH_add pj/bin
make --quiet -f pj/bin/Makefile -e TOP=$(dirname ${BASH_SOURCE}) gitignore

# && >&2 echo "ok $1" ||
have0() { has $1 && (set -x; $1 --version 2>/dev/null) || >&2 echo "missing $1" ; }
must.have() { has $1 || >&2 echo "missing $1" ; }
must.have node
must.have npm
must.have tsc
must.have webstorm
must.have bun
must.have deno


