# direnv allow .
PATH_add pj/bin
make --quiet -f pj/bin/Makefile -e TOP=$(dirname ${BASH_SOURCE}) gitignore


have() ( type $1 &> /dev/null || >&2 echo "missing $1" ; )
have node
have npm
have tsc
have webstorm
have bun
have deno


